@font-face {
	font-family: 'Lato', sans-serif;
	src:url(/fonts/LatoSemibold.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
body{
	background: #f2f2f2;
	font-family: 'Lato', sans-serif;
	line-height: 26px;
	letter-spacing: 0.015em;
}
p{
	margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 0;
}
.nav-link{
	padding: 0;
}